

$fonts: 'Open Sans', sans-serif;
$bg: #002966;       /* Background color */
$ttle-clr: #fff;    /* Main title color */
$sbttle-clr: #ccc;  /* Subtitle color   */
$brdr-clr: #06f9f9; /* Fancy border/box shadow for input */



input[type="text"]:focus {
  outline: none;
  -webkit-animation: box-in .3s forwards, border-shrink .3s forwards;
  animation: box-in .3s forwards, border-shrink .3s forwards;
}
@-webkit-keyframes box-in {
  0% {
    box-shadow: 0px 0px 10px $brdr-clr, 0px 0px 10px $brdr-clr, 1px 1px 0 #ccc inset, -1px -1px 0 #ccc inset, 1px -1px 0 #ccc inset, -1px 1px 0 #ccc inset;
  }
  100% {
    box-shadow: 0px 0px 10px $brdr-clr, 0px 0px 10px $brdr-clr, 1px 1px 0 #ccc inset, -1px -1px 0 #ccc inset, 1px -1px 0 #ccc inset, -1px 1px 0 #ccc inset;
  }
}
@keyframes box-in {
  0% {
    box-shadow: 0px 0px 10px $brdr-clr, 0px 0px 10px $brdr-clr, 1px 1px 0 #ccc inset, -1px -1px 0 #ccc inset, 1px -1px 0 #ccc inset, -1px 1px 0 #ccc inset;
  }
  100% {
    box-shadow: 0px 0px 10px $brdr-clr, 0px 0px 10px $brdr-clr, 1px 1px 0 #ccc inset, -1px -1px 0 #ccc inset, 1px -1px 0 #ccc inset, -1px 1px 0 #ccc inset;
  }
}

@-webkit-keyframes border-shrink {
  0% {border: 15px solid $bg;}
  95% {border: 1px solid $bg;}
  100% {border: 1px solid $brdr-clr;}
}
@keyframes border-shrink {
  0% {border: 15px solid $bg;} /* Same as background */
  95% {border: 1px solid $bg;} /* transparent didn't work */
  100% {border: 1px solid $brdr-clr;}
}


/* Below is purely for Styling */
